@font-face {
    font-family: gothambold;
    src: url(../font/gotham-cufonfonts/GothamBold.ttf);
}

@font-face {
    font-family: gothambook;
    src: url(../font/gotham-cufonfonts/GothamBook.ttf);
}


@font-face {
    font-family: gothammedium;
    src: url(../font/gotham-cufonfonts/GothamMedium.ttf);
}

body {
    font-family: gothambook;
}

.bordered {
    border: 1.5px solid grey;
    border-radius: 5px;
    padding: 8px;
}

.non-bordered-with-padding {
    padding 8px;
}

.primary-navbar {
    background-color: white;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-image: url('../Images/Banner.png');
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}


.secondary-navbar {
    /*background-color: #0a7cb9;*/
    background-color: #802A90;
    font-family: gothammedium;
    padding: 4px;
}

ul li {
    font-size: 16px;
    padding: 0px 10px;
}

.logo {
    height: 115px;
}

.nsw-logo {
    height: 80px;
}

.banner {
    background-image: url('../Images/Cover6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    padding: 0;
    margin-bottom: 0;
}

.overlay {
    /*background: rgb(0, 0, 0);*/
    /*background: rgba(0, 0, 0, 0.5); /* Black see-through */
    /*background:white;*/
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding:50px;
}

.scrim-protect {
    background: rgba(51,49,50,.75); /* Black see-through */
    padding: 40px 22px;
    border-top: 4px solid #F1590C;
}

.introduction, .buttons {
    color: #F4F4F9;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #F1590C;
    border: 0;
    color: whitesmoke;
    border-radius:0px;
    font-size:18px;
    font-family:'Arial Rounded MT';
}

.btn-primary:hover  {
    background: #D14C0A; 
}

.btn-primary::after{
    background:green;
}

.btn-secondary {
    background-color: #646974;
    border: 0;
}

.btn-select {
    background-color: forestgreen;
    width: 380px;
    color: white;
}

.btn-select a {
    color: white;
    text-align: center;
    font-weight: bold;
}

.btn-select a:hover {
    text-decoration: none;
}

.introduction {
    font-size: 30px;
    font-family:'Arial Rounded MT';
    letter-spacing:0.5px;
}

button {
    font-size: 28px;
}

.intervention-tab {
    border: 1px lightgrey solid;
    margin-bottom:90px;
}

.intervention-tab li{
    border-bottom:1px solid lightgrey;
    padding:5px;
}

.intervention-tab li a{
   
}
#myTabContent{
    padding:20px 5px;
    height:auto;
}

    /*#myTabContent::before,
    #myTabContent::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
        border-style: solid;
    }


    #myTabContent::after {
        border-width: 1.35em;
        border-right-color: #0c0;
        border-top-color: #0c0;
    }*/

.icon-group .fa{
    font-size:30px;
}

.icon-group .fa .icon-text{
    font-size:15px;
    font-family:gothambold;
    text-decoration:underline;
}
.nav-item-Communication {
    border-left: 8px solid #0A7CB9;

}
.nav-item-Environmental {
    border-left: 8px solid #69B32D;
}
.nav-item-Social {
    border-left: 8px solid #F9BE00;
}
.nav-item-Learning {
    border-left: 8px solid #D7153A;
}

.nav-item-Communication a {
    color: black;
}
.nav-item-Environmental a {
    color: black;
}
.nav-item-Social a {
    color: black;
}
.nav-item-Learning a {
    color: black;
}

.hide-right-border {
    border-right: 0px solid black;
    border-left-width: 12px;
    animation-name: pulse;
    animation-duration: 0.5s;
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.02, 1.02, 1.02);
        transform: scale3d(1.02, 1.02, 1.02);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tab-pane{
    height:inherit;
}

.icon-group{
    height:inherit;
    margin-top:30px;
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1.02, 1.02, 1.02);
    }
}
.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
}


.footer {
    padding: 50px 0;
    padding-bottom: 0px;
    width: 100%;
    background-color: #ECF1F3;
    font-family: gothambook;
    font-size: 14px;
    line-height: 1.29;
}

    .footer a {
        color: grey;
    }

.footer-links {
    margin-bottom: 40px;
}

.copyright {
    background-color: whitesmoke;
    padding: 10px 0px;
    margin: 20px 0px;
    margin-bottom: 0;
    border-top: 1px solid #DEE3E5;
}


/* primary.html */

.content {
    margin: 20px;
    padding: 30px 0;
}

.sub-content {
    height: 100%;
}

h2 {
    font-family: gothammedium;
    font-weight: bold;
    line-height: 1.38;
}

/* intervention.html */

.index {
    width: 100%;
    border: 1px solid #DEE3E5;
    padding: 20px 10px;
}

h3 {
    font-family: gothammedium;
    font-weight: 500;
    line-height: 1.6;
    font-size: 24px;
}

.Communication, .Learning, .Environmental, .Social {
    width: 60px;
    height: 30px;
    border: 1px solid #DEE3E5;
}

.Communication, .card-header-Communication {
    background-color: #0a7cb9;
}

.Learning, .card-header-Learning {
    background-color: #d7153a;
}

.Environmental, .card-header-Environmental {
    background-color: #69b32d;
}

.Social, .card-header-Social {
    background-color: #f9be00;
}

.card {
    width: 310px;
    text-align: center;
    margin: 30px;
}

.card-header {
    height: 40px;
}

.card-footer .fa {
    font-size: 28px;
}

/* login.html */

.form-container {
    border: 1px solid #DEE3E5;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #646974;
}

form {
    font-weight: bold;
}

.feedback-form {
    font-weight: normal;
}

/* dashboard card */

.dashboard-card {
    width: 250px;
    background-color: #F4F7F9;
    border-radius: 0;
    box-shadow: 1px 1px 15px #646974;
}

.dashboard-card-body .dashboard-icons {
    font-size: 150px;
    padding: 20px;
}

.dashboard-content {
    margin-bottom: 100px;
}



/* editor.html */

.editor-container {
    margin-bottom: 100px;
}

.add-shapes {
    border: 1px solid lightgrey;
    margin: 0;
    padding-top: 5px;
}

.add-shapes-header {
    border-bottom: 1px solid lightgrey;
}

.add-shapes-content {
    padding: 10px 2px;
}

    .add-shapes-content button {
        margin: 5px 0px;
    }

.save-changes-btn-container {
    margin: 40px 0px;
}

/* chart */

.chart-container {
    margin-bottom: 80px;
}

.chart {
    display: table;
    table-layout: fixed;
    width: 60%;
    max-width: 700px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
    background-size: 100% 50px;
    background-position: left top;
}

    .chart li {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        height: 200px;
    }

    .chart span {
        margin: 0 1em;
        display: block;
        background: rgba(209, 236, 250, 0.75);
        animation: draw 1s ease-in-out;
    }

        .chart span:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 5px 1em 0;
            display: block;
            text-align: center;
            content: attr(title);
            word-wrap: break-word;
        }

@keyframes draw {
    0% {
        height: 0;
    }
}

.x-index {
    margin-bottom: 20px;
}

/* intervention-second */

.intervention-table div {
    border: 1px solid lightgrey;
}

.intervention-table div {
    margin: 0;
    padding: 0;
}

.intervention-table ul li {
    border-bottom: 1px solid lightgrey;
    padding: 0px 0px;
    margin: 0;
}

    .intervention-table ul li a {
        color: white;
    }

.filter-section {
    padding: 2px 10px;
    margin: 0px;
    border: 1px solid lightgrey;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search {
    padding-top: 10px;
}

.intervention-table {
    margin-bottom: 90px;
}

    .intervention-table .intervention-content-table {
        padding: 25px 40px;
    }

        .intervention-table .intervention-content-table .intervention-subcontent-table .fa {
            font-size: 50px;
        }

/*  intervention_third.html */

.filter-section-third {
    width: 100%;
}

    .filter-section-third div {
        width: 190px;
    }

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordion-container {
    margin-bottom: 30px;
}

.accordion-buttons {
    font-size: 40px;
    padding: 20px;
    margin: 10px;
    border: 1px solid lightgrey;
}
