
@{
    ViewData["Title"] = "Secondary_B";
}

<h2>Secondary_B</h2>

<hr />
<h3>What Behaviour can you observe in the student's B behaviours? </h3>
<button><a href="#">E</a></button>
<button><a href="#">F</a></button>