<footer class="footer bg-light">
    <div class="footer-links d-flex justify-content-center">
        <span class=""><a asp-controller="home" asp-action="feedback" >Feedback  </a>&nbsp &nbsp|&nbsp &nbsp</span>
        <span class=""><a asp-controller="home" asp-action="about" > About Us </a>&nbsp &nbsp &nbsp &nbsp </span>
        @*<span class=""><a asp-controller="client" asp-action="login"> Client Login</a></span>*@
    </div>
    <div class="copyright d-flex justify-content-center">
        © 2019 Copyright: Codify Solution
    </div>
</footer>