<header>
    <nav class="navbar navbar-expand-sm navbar-dark primary-navbar top-bar">
        <div class="container">
            <a class="navbar-brand" asp-controller="home" asp-action="index">
                @*<img class="nsw-logo" src="~/Images/nsw_logo.png">*@
                <img class="logo" src="~/Images/logo.png">
            </a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-dark  secondary-navbar">
        <div class="container">
            <a class="navbar-brand" asp-controller="home" asp-action="index">Teacher's Guide</a>

            <div class="colapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav ml-auto">
                    @if (ViewBag.Title != "Home")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="home" asp-action="index">Home</a>
                        </li>
                        @if (ViewBag.Title == "primary" || ViewBag.Title == "Secondary_A" || ViewBag.Title == "intervention")
                        {
                            <li class="nav-item">
                                <a asp-controller="@ViewBag.controllerBefore" asp-action="@ViewBag.pageBefore" class="nav-link">&#10094;&#10094; Back</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>