<header>
    <nav class="navbar navbar-expand-sm navbar-dark primary-navbar">
        <div class="container">
            <a class="navbar-brand" asp-controller="home" asp-action="index">
                <img class="nsw-logo" src="~/Images/nsw_logo.png">
                <img class="logo" src="~/Images/logo.png">
            </a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-dark  secondary-navbar">
        <div class="container">
            <a class="navbar-brand" asp-controller="home" asp-action="index">Teacher's Guide To Mental Health</a>

            <div class="colapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="home" asp-action="about" class="nav-link">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>