@model ClientViewModel
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <br />
    <h1 class="h3 mb-2 text-gray-800">Statistics</h1>
    <p class="mb-4">See the user feedbacks in the last recent months</p>

    <!-- DataTale -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Feedback Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Created On</th>
                            <th>Comments</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var feedback in Model.feedBacks)
                        {
                            <tr>
                                <td>@feedback.CreateTime</td>
                                <td>  @feedback.Rate</td>

                                @if (feedback.Comment == null)
                                {
                                    <td>No Comment</td>
                                }
                                else
                                {
                                    <td>@feedback.Comment</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>