
@{
    ViewData["Title"] = "Client Page";
}

        <a asp-controller="Client" asp-action="Feedback">Feedback
        </a>
        <a asp-controller="Client" asp-action="Statistics">Statistics
        </a>
        <a asp-controller="Client" asp-action="EditBehaviour_P1">Edit
        </a>
