
@{
    ViewData["Title"] = "Client Page";
}

<div class="container">
    <div class="content d-flex flex-column justify-content-around flex-wrap align-items-center">
        <h2>Dashboard</h2><br>
    </div>
    <div class="row d-flex justify-content-center dashboard-content">
        <div class="card dashboard-card">
            <div class="card-body dashboard-card-body">
                <i class="fa fa-smile-o dashboard-icons"></i>
                <h3 class="card-title d-flex justify-content-center">View Feedback</h3>
            </div>
        </div>
        <div class="card dashboard-card">
            <div class="card-body dashboard-card-body">
                <i class="fa fa-line-chart dashboard-icons"></i>
                <h3 class="card-title d-flex justify-content-center">Statistics</h3>
            </div>
        </div>
        <div class="card dashboard-card">
            <div class="card-body dashboard-card-body">
                <i class="fa fa-edit dashboard-icons"></i>
                <h3 class="card-title d-flex justify-content-center"><a asp-controller="Client" asp-action="AddInterventions">Add Interventions</a></h3>
            </div>
        </div>
    </div>
</div>

