
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="content d-flex flex-column justify-content-around flex-wrap align-items-center">
        <h2>About the Teacher's Guide</h2>
        <br>
        <p>
            "Evidence Base: Each of the recommended interventions in this Teacher's Guide has a strong evidence base. These interventions were selected via a comprehensive literature search of six health and educational electronic databases (CINAHL, Medline, Embase, PsychInfo, Cochrane and ERIC: Education Resources Information Center). Articles were limited to English-language, with publications prior to 2008 excluded, along with any interventions that required teachers to undergo additional training or that utilised specialised resources.
            "
        </p>
        <p>
            For access to the evidence literature
            <a href="">click here</a>
        </p>
        <p>
            Student Interventions: Each student intervention is categorised as either Social, Environmental, Learning or a Communication intervention to provide a quick reference point to support teachers to utilise a variety of instructional modalities.
        </p>
        <p>
            Acknowledgements: This resource was inspired by the 2006 resource "The Impact of Mental Health Disorders on Learning - A Teacher's Guide", a NSCCH (Northern Sydney Central Coast Health) School-Link Iniative supported by staff of the CYPMH - NSCCH (Children and Young People's Mental Health - Northern Sydney Central Coast Health). The resource was updated in 2007 by NSCCH School-Link and CYPMH - NSCCH staff with input from the Behaviour Department of Education & Training Hunter/Cental Coast Region and Lake Munmorah Public School.
        </p>
        <p>
            "Every Child Matters: A teacher's guide to optimising the social and emotional wellbeing of all primary-aged children.
            Cooksley, R.1, Bunder, D.2, Sneddon, J. 2, Chen, Y.3, Nunn, H.3, Yee, H.4, Tang, J.4, Farrar, G.4, Szeto, C.3, Hardie, K.5, Chu, A. Y. L.3 & Singh, R.2

            "
        </p>
        <p>
            <ol>
                <li> Got It! Child and Adolescent Mental Health Service, Sydney Local Health District, New South Wales, Australia.</li>
                <li>
                    Child, Adolescent and Youth Mental Health Service, Illawarra Shoalhaven Local Health District, New South Wales, Australia.
                </li>
                <li>
                    Faculty of Health Sciences, University of Sydney, NSW, Australia.
                </li>
                <li>
                    School of Psychology, University of New South Wales, NSW, Australia
                </li>
                <li> Department of Occupational Therapy, Western Sydney University, NSW, Australia."</li>
            </ol>
        </p>
        <p>
            Email: Rebecca.Cooksley@health.nsw.gov.au
        </p>
    </div>
</div>


