
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="content d-flex flex-column justify-content-around flex-wrap align-items-center">
        <div id="about">
            <h2>About the Teacher's Guide</h2>
            <br>
            <p>
                "Evidence Base: Each of the recommended interventions in this Teacher's Guide has a strong evidence base. These interventions were selected via a comprehensive literature search of six health and educational electronic databases (CINAHL, Medline, Embase, PsychInfo, Cochrane and ERIC: Education Resources Information Center). Articles were limited to English-language, with publications prior to 2008 excluded, along with any interventions that required teachers to undergo additional training or that utilised specialised resources.
                "
            </p>
            <p>
                For access to the evidence literature
                <a href="#" onclick="displayReferences()">click here</a>
            </p>
            <p>
                Student Interventions: Each student intervention is categorised as either Social, Environmental, Learning or a Communication intervention to provide a quick reference point to support teachers to utilise a variety of instructional modalities.
            </p>
            <p>
                Acknowledgements: This resource was inspired by the 2006 resource "The Impact of Mental Health Disorders on Learning - A Teacher's Guide", a NSCCH (Northern Sydney Central Coast Health) School-Link Iniative supported by staff of the CYPMH - NSCCH (Children and Young People's Mental Health - Northern Sydney Central Coast Health). The resource was updated in 2007 by NSCCH School-Link and CYPMH - NSCCH staff with input from the Behaviour Department of Education & Training Hunter/Cental Coast Region and Lake Munmorah Public School.
            </p>
            <p>
                "Every Child Matters: A teacher's guide to optimising the social and emotional wellbeing of all primary-aged children.
                Cooksley, R.<sup>1</sup>, Bunder, D.<sup>2</sup>, Sneddon, J. <sup>2</sup>, Chen, Y.<sup>3</sup>, Nunn, H.<sup>3</sup>, Yee, H.<sup>4</sup>, Tang, J.<sup>4</sup>, Farrar, G.<sup>4</sup>, Szeto, C.<sup>3</sup>, Hardie, K.<sup>5</sup>, Chu, A. Y. L.<sup>3</sup> & Singh, R.<sup>2</sup>

                "
            </p>
            <p>
                <ol>
                    <li> Got It! Child and Adolescent Mental Health Service, Sydney Local Health District, New South Wales, Australia.</li>
                    <li>
                        Child, Adolescent and Youth Mental Health Service, Illawarra Shoalhaven Local Health District, New South Wales, Australia.
                    </li>
                    <li>
                        Faculty of Health Sciences, University of Sydney, NSW, Australia.
                    </li>
                    <li>
                        School of Psychology, University of New South Wales, NSW, Australia
                    </li>
                    <li> Department of Occupational Therapy, Western Sydney University, NSW, Australia."</li>
                </ol>
            </p>
            <p>
                <b>Email: Rebecca.Cooksley@health.nsw.gov.au</b>
            </p>
        </div>

        <div style="display:none" id="references" class="">
            <h2>References</h2>
            <br>
            <p>
                <ol>
                    <li>
                        American Academy of Pediatrics. (2011). ADHD: Clinical practice guidelines for the diagnosis, evaluation and treatment of attention/deficit hyperactivity disorder in children and adolescents. Pediatrics 128, 1007–1022. Doi: 10.1542/peds.2011 2654
                    </li>
                    <br />
                    <li>
                        American Speech-Language-Hearing Association. (2017). Social communication disorders in school-age children. Retrieved February 10, 2017, from ttp://www.asha.org/PRPSpecificTopic.aspx?folderid=8589934980&section=Treatment
                    </li><br />
                    <li>
                        Autism SA. (2015). ASD Around the Internet: Lego may be a good building block to communicate with autistic children. Retrieved from <a href="http://www.autismsa.org.au/Media/Default/AAP/AAP%20NT%20Newsletter/June%202015%20Newsletter.pdf">http://www.autismsa.org.au/Media/Default/AAP/AAP%20NT%20Newsletter/June%202015%20Newsletter.pdf</a>

                    </li>
                    <br />
                    <li>
                        Barlett, C. (2013). Excuses, excuses: A meta-analytic review of how mitigating information can change aggression and an exploration of moderating variables. Aggressive Behavior 39(6), 472-481. Doi: <a href="http://dx.doi.org/10.1002/ab.21491">http://dx.doi.org/10.1002/ab.21491</a>

                    </li>
                    <br />

                    <br />
                </ol>
            </p>
        </div>
    </div>
</div>

<script>
    let displayReferences = function () {
        document.getElementById("about").style.display = "none";
        document.getElementById("references").style.display = "inline";
    }
</script>


