@{
    ViewData["Title"] = "About_Guide";
}

<div class="container">
    <br />
    <br />

    <p class="bordered">
        <b>School Procedures:</b> This resource does not replace the normal discipline management processes within a school, but seeks to suggest some early and ongoing intervention strategies to reduce behaviours and prevent the need for punitive actions in the future.
    </p>

    <p class="non-bordered-with-padding">
        <b>If behaviour does not improve:</b> In cases where children are displaying challenging behaviours, it is recommended that teachers' apply their normal behaviour management techniques, and / or techniques listed within this tool, to manage these behaviours.
        <br />  
        In some situations, application of behaviour management strategies will result in an escalation in behaviour from the student for a period of time.                                                                                                                                                                                           	                  If the behaviour persists, it would be worthwhile to have a discussion with a colleague, supervisor or member of the learning and wellbeing support staff at your school.
    </p>

    <p class="bordered">
        <b>Existing mental health concerns:</b>  If there is a student with a known or suspected mental illness, seek advice on appropriate behavioural management strategies for that student from a direct supervisor, school counsellor, or school welfare staff member.
    </p>

    <br />

    <a asp-controller="Teacher" asp-action="primary"><button type="button" class="btn btn-primary btn-lg">Get Started &#10095;&#10095;</button></a>

    <br />
    <br />
    <br />
</div>